@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h5>Online Medicine Shopping</h5>
        @Html.ActionLink("Shop Now", "Index", "Medicine", new { @class = "btn btn-danger" })
    </div>
